#initialchecks 0
#############################################
### edit with hostname or IP address of your detector 
############################################
hostname 127.0.0.1:1952

#############################################
### edit with hostname or 1Gbs IP address of your server
############################################
rx_hostname 127.0.0.1
#numinterfaces 2
#############################################
### edit with 10 Gbs IP of your server
############################################
udp_dstip 127.0.0.1
#udp_dstip2 10.1.2.102
#############################################
### edit with any number in the subnet of your server (first 3 numbers as above)
############################################
udp_srcip 127.0.0.1
udp_dstport 37777

#udp_srcip2 10.1.2.19
#udp_dstport2 37778

#############################################
### edit with 10 Gbs IP of your server
############################################
rx_zmqip 127.0.0.1
rx_zmqport 50005
#############################################
### edit with 1 Gbs IP of PC where you will run the GUI
############################################
#zmqip 129.129.202.57
#zmqport 1979



#tengiga 1
rx_zmqstream 1
#rx_zmqfreq 0



#############################################
### edit with directory you want to write to
############################################
#fpath /mnt/moench_data/scratch1/

#fwrite 0

rx_zmqfreq 1
rx_jsonpara frameMode frame
rx_jsonpara detectorMode counting

frames 1000

period 0.0
exptime 0.00035
parallel 1

################remove this when fixed in SW!

readoutspeed half_speed
#################################
#adcpipeline 15

powerchip 1
highvoltage 90
#adcreg 0x14 0x40
