name: Build and Test Ubuntu Linux

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'resources/**'
      - '.clang-format'
      - '.pre-commit-config.yaml'
      - 'LICENSE'
      - 'README.md'
      - 'docker/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'resources/**'
      - '.clang-format'
      - '.pre-commit-config.yaml'
      - 'LICENSE'
      - 'README.md'
      - 'docker/**'
      - '.github/workflows/check-build-docker.yml'
  workflow_run:
    workflows: ["Check and Build Docker Images"]
    types:
      - completed

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        tango-version: [9.5.0, 10.0.0]
        sls-version: [8.0.2, 9.0.0, 10.0.0]
    container:
      image: ghcr.io/lrlunin/tango-${{ matrix.tango-version }}-sls-${{ matrix.sls-version }}:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake our repository
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DTango_USE_PKG_CONFIG=OFF

      - name: Build our repository
        # Build your program with the given configuration
        run: cmake --build build -j

      - name: Run tests and generate coverage report
        working-directory: build
        run: make coverage

      - name: Move coverage report to root directory
        run: mv build/coverage.info .

      - name: Upload coverage artifact
        # skip if run locally with act
        if: ${{ !env.ACT }}
        # Upload the coverage report as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-${{ matrix.tango-version }}-${{ matrix.sls-version }}
          path: |
            coverage.info
            codecov.yml
